# Desafio 2

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. Para realizar a verificação inicial, precisamos de alguns valores. Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

## _Set up_ da análise

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('desafio1.csv')

In [3]:
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [5]:
# Checando os estados presentes no dataset
df['estado_residencia'].unique()

array(['SC', 'RS', 'PR'], dtype=object)

### Santa Catarina

In [6]:
# Selecionando a pontuação de crédito somente daqueles de Santa Catarina
sc = df[df['estado_residencia'] == 'SC']['pontuacao_credito']

In [11]:
sc.head()

0    619
2    502
3    699
6    822
8    501
Name: pontuacao_credito, dtype: int64

In [29]:
sc_moda = sc.mode()[0]
sc_moda

850

In [30]:
sc_median = sc.median()
sc_median

653.0

In [31]:
sc_media = sc.mean()
sc_media

649.5376527422563

In [33]:
sc_desvio_padrao = sc.std()
sc_desvio_padrao

97.233492793433

### Rio Grande do Sul

In [35]:
# Selecionando a pontuação de crédito somente daqueles do Rio Grande do Sul
rs = df[df['estado_residencia'] == 'RS']['pontuacao_credito']

In [36]:
rs.head()

1     608
4     850
5     645
11    497
14    635
Name: pontuacao_credito, dtype: int64

In [43]:
rs_moda = rs.mode()[0]
rs_moda

850

In [38]:
rs_median = rs.median()
rs_median

650.0

In [39]:
rs_media = rs.mean()
rs_media

651.1051428571428

In [40]:
rs_desvio_padrao = rs.std()
rs_desvio_padrao

95.13659841383574

### Paraná

In [42]:
# Selecionando a pontuação de crédito somente daqueles do Paraná
pr = df[df['estado_residencia'] == 'PR']['pontuacao_credito']

In [44]:
pr.head()

7     376
15    616
16    653
26    756
28    574
Name: pontuacao_credito, dtype: int64

In [45]:
pr_moda = pr.mode()[0]
pr_moda

850

In [46]:
pr_median = pr.median()
pr_median

650.0

In [47]:
pr_media = pr.mean()
pr_media

648.9612940496822

In [48]:
pr_desvio_padrao = pr.std()
pr_desvio_padrao

98.60718591309758

## Exportando para JSON

In [49]:
df_final = pd.DataFrame([[sc_moda, sc_median, sc_media, sc_desvio_padrao],
                         [rs_moda, rs_median, rs_media, rs_desvio_padrao],
                         [pr_moda, pr_median, pr_media, pr_desvio_padrao]],
                  index=['SC', 'RS', 'PR'],
                  columns=['moda', 'mediana', 'media', 'desvio_padrao'])

In [50]:
df_final

    moda  mediana       media  desvio_padrao
SC   850    653.0  649.537653      97.233493
RS   850    650.0  651.105143      95.136598
PR   850    650.0  648.961294      98.607186

In [52]:
df_final.to_json('submission.json', orient='index')